# Server
PORT=3000

# Database
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=jungle
DB_PASSWORD=jungle
DB_DATABASE=jungleboard

# OpenAI
OPENAI_API_KEY=

# GitHub
GITHUB_TOKEN=

# Blog Search
BLOG_SEARCH_API_URL=
BLOG_SEARCH_API_KEY=

# Naver
NAVER_CLIENT_ID=
NAVER_CLIENT_SECRET=
